{% extends 'home/empindex.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h2 style="padding-left: 15Px">Student Information</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Parents Email</th>
                <th>Parents Phone</th>
                <th>School</th>
                <th>Mentor Name</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% now 'Y-m-d' as currt_date %}
            {% for students in students %}
            {% ifequal students.Emp_name|stringformat:"s" user.username %}
                {% if students.last_date|date:"Y-m-d" >= currt_date or students.last_date == NULL %}
                <tr>
                    <td>{{ students.Student_id }}</td>
                    <td>{{ students.Student_name }}</td>
                    <td>{{ students.Parents_email }}</td>
                    <td>{{ students.Parents_phone }}</td>
                    <td>{{ students.School }}</td>
                    <td>{{students.Men_name}}</td>
                    <td><a href="{% url 'home:studentedit' pk=students.pk%}" class="btn btn-warning">Edit</a>
                    </td>
                </tr>

                {% endif %}
            {% endifequal %}
            {% endfor %}
            </tbody>
        </table>
             <br class="row">
                 <a href="{% url 'home:studentadd' %}" class="row"><span
                    class="btn btn-primary">Add Student</span></a>
        </div>

    </div>
    <h2 > Sheet View</h2>

        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSRS5rOpjGMlGPjVQNn6NYMoUxVsB6k38Wv8Uh7WoaLedDzTI6pyycVo3nauzUWYlK-N5TKHrVm4dvi/pubhtml?widget=true&amp;headers=false" width="1200" height="300"></iframe>
<br>

    <a href="https://docs.google.com/spreadsheets/d/12EeQx58Y921Oua5XOFK5fZwFI35G1Qm6t693qSsZfok/edit?usp=sharing" class="row"><span
                    class="btn btn-primary">View in Google Sheet</span></a>

    </div>

{% endblock %}